@using MvcFileUploader.HtmlHelper
@model ReceiptScanner.Site.Models.LoginModel
@{
    ViewBag.Title = "ShopNameparen";
}
@functions{
    public string GetAntiForgeryToken()
    {
        string cookieToken, formToken;
        AntiForgery.GetTokens(null, out cookieToken, out formToken);
        return cookieToken + ":" + formToken;                
    }
}

<header>
    <h1>@ViewBag.Title</h1>
</header>

<div id="main-content">
@if (@User.Identity.IsAuthenticated)
{
    <a class="btn btn-primary btn-lg" data-bind="click: scanReceipt">Skanna nytt kvitto</a>
    
    <form enctype="multipart/form-data" class="hide">
        <input type="file" id="file-uploader" name="file"/>
    </form>
    
    <h2>Varor</h2>
    <div data-bind="visible: shopItems().length == 0" class="alert alert-info"><strong>Du har inga varor...</strong> Klicka på Skanna nytt kvitto för att komma igång!</div>
    <table class="table">
        <tbody data-bind="foreach: shopItems">
            <tr>
                <td data-bind="text: name"></td>
                <td>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" data-bind="style: { width: progress + '%' }, text: progress + '%'">
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    
    <h2>Kvitton</h2>
    <table class="table">
        <tbody data-bind="foreach: receipts">
            <tr data-bind="click: function () { $root.selectedReceipt($data); }, css: { selected: $root.selectedReceipt() == $data }">
                <td data-bind="text: shopName"></td>
                <td data-bind="text: date"></td>
                <td data-bind="text: total"></td>
                <td><a data-bind="click: function () { $root.removeReceipt($data); }"><i class="glyphicon glyphicon-remove"></i></a></td>
            </tr>
        </tbody>
    </table>
    
    <div data-bind="visible: $root.receiptItems().length > 0">
        <h2>Kvittodetaljer</h2>
        <table class="table">
            <thead><tr><th>Tolkat namn</th><th>Kategoriserat som</th><th>Antal</th><th>Totalt pris</th><th></th></tr></thead>
            <tbody data-bind="foreach: receiptItems">
                <tr>
                    <td><input type="text" data-bind="value: name, change: $parent.saveReceiptItem"/></td>
                    <td><input type="text" data-bind="value: quantity, change: $parent.saveReceiptItem"/></td>
                    <td><input type="text" data-bind="value: price, change: $parent.saveReceiptItem"/></td>
                    <td><a data-bind="click: function () { $root.removeReceiptItem($data); }"><i class="glyphicon glyphicon-remove"></i></a></td>
                </tr>
            </tbody>
        </table>
    </div>
}
else
{
    <div class="todoList" id="loginPanel">
        <section id="localLoginPanel">
            <h2>Log in</h2>
            @Html.Partial("_Login")
        </section>
        <section id="socialLoginPanel">
            <h2>Log in using another service</h2>
            @Html.Action("ExternalLoginsList", "Account", new { ReturnUrl = ViewBag.ReturnUrl })
        </section>
        <p>First time here? <a id="showRegister">Sign up</a></p>
    </div>
    <div class="todoList" id="registerPanel">
        <h2>Sign up</h2>
        @Html.Partial("_Register")
        <p>Already signed up? <a id="showLogin">Log in</a></p>
    </div>
}
</div>

@if (@User.Identity.IsAuthenticated)
{
    @section scripts {
        @Scripts.Render("~/bundles/knockout")
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/rs")
    }
}